{% extends "layouts/zay.html.twig" %}
{% block content %}

    <form action="" method="post">

        <a class="h1 nav-link">Se connecter</a><a class="h1 nav-link" href="{{ path('signin') }}">Créer un compte</a>

        <fieldset>

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email">

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="user_password">


        </fieldset>
        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
