{% extends "layouts/zay.html.twig" %}
{% block content %}
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('img/0-0-81493.png') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Univers</b> Crampons</h1>
                                <h3 class="h2">Site spécialisé dans la vente de chaussures de football</h3>
                                <p>
                                    Ce site a été conçu pour offrir une seconde vie aux chaussures de football. Il s'agit en effet d'un site de vente
                                    entre particulier, il vous sera donc facile de trouver la paire qu'il
                                    vous faut, que ce soit pour vous, vos enfants ou vos amis. Mais également de vendre votre paire pour quelconque raison.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('img/0-0-80728.png') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Trouvez LA paire</h1>
                                <h3 class="h2">Contactez son revendeur et le tour est joué</h3>
                                <p>
                                    Ce site vous permettra donc de trouver votre bonheur, en effet il suffit de vous rendre dans l'onglet boutique, de
                                    cocher tous vos critères et voilà toutes les chaussures mises en vente sur notre site sont là. Vous êtes donc à 1 click de souris,
                                    de trouver votre paire que ce soit pour du futsal, du foot sur terrain gras ou sur synthétique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('img/0-0-81998.png') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Vous cherchez à vendre ?</h1>
                                <h3 class="h2">Vous êtes au bon endroit</h3>
                                <p>
                                    En effet, il est également possible de vendre vos paires, il vous suffira juste créer un compte via l'onglet dédié et
                                    ensuite il vous sera très simple de créer une annonce avec des filtres précis afin de trouver rapidement un acheteur.
                                    Plus votre annonce sera complète et précise plus il vous sera aisé de trouver des intéressés.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
{% endblock %}
